html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************************/

html { font-family: 'Merienda One', cursive; } 
 
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body { background-color: #B6DBFD; }

h1, h2, h3, h4 { margin: 15px 0 25px 0; }

h1 { font-size: 60px; }

h2 {
    font-size: 45px; 
    font-weight: bold;
}

h3 { 
    font-size: 30px; 
    font-weight: bold;
}

h4 { 
    font-size: 25px;
    font-weight: bold;
 }

article p { 
    font-size: 20px; 
    margin-bottom: 20px;
}

@keyframes movingHeader {
    0%    { background-position-x: center; }  
    25%   { background-position-x: right;  }
    75%   { background-position-x: left;   }
    100%  { background-position-x: center; }
}

.headerSection { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    background-image: url("img/mountains.jpg");
    background-size: cover;
    height: 220px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px #447777 inset; 
    animation-name: movingHeader;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
 }

.mainHeading {
    text-align: center;
    color: rgb(90, 147, 228);
    margin: 30px 0 90px 0;
    text-shadow: 
        -1px -1px 0   #000,
         1px -1px 0   #000,
        -1px  1px 0   #000,
         1px  1px 0   #000,
         7px  0px 7px white, 
        -7px  0px 7px white,     
         0px  7px 7px white, 
         0px -7px 7px white;
}

.headerSection nav {
    display:flex;
    flex-wrap: wrap;
}

.navButton {
    font-size: 20px;
    color: red;
    flex-grow: 1;
    padding: 10px;
    background: linear-gradient(white, rgb(149, 201, 247));
    margin: 0 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
    transition: .1s;
    box-shadow: inset 0 -2px 12px rgba(0,0,0,0.7),
                inset 0  2px 12px rgba(94, 185, 218, 0.7);   
}

.selectedButton{
    color: green;
    background: linear-gradient(white, rgb(60, 206, 250));
}

.headerSection nav button:focus { 
    outline: none; 
}

.headerSection nav button:hover {
    box-shadow: -5px 0 20px white, 5px 0 20px white, 
                0 -5px 20px white, 0 5px 20px white ;
}

.page {
    position: absolute;
    transition: 2s;
}

.peopleList{
    margin-left: 20px;
}

.pageHeading {
    text-shadow: 2px 2px 5px #447777;
}
.outerHeader {
    padding: 20px;
    margin: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color:#e6f2ff;
    background: linear-gradient(to bottom right, #e6f2ff, #bcd4ee);

    box-shadow: 2px 2px 10px 2px #447777;
}

.outerPage {
    padding: 20px;
    margin: 10px 15px 80px 15px;
    border-radius: 20px;
    background-color:#e6f2ff;
    background: linear-gradient(to bottom right, #e6f2ff, #bcd4ee);
    box-shadow: 2px 2px 10px 2px #447777;
}

.innerPage {
    padding: 20px;
    margin: 10px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px #447777 inset;
    background-color:#d6e7f8;
    background: linear-gradient(to bottom right,#bcd4ee, #e6f2ff);
}

.hidden {
    visibility: hidden;
    margin-left: -210vw;
    margin-right: 210vw;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0vh;
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    text-align: center;
}

#aboutMe img {
    border-radius: 20px;
    float: left; 
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
}

#aboutMe .innerPage {
    overflow: hidden;
}

#aboutMe img {
    box-shadow: 2px 2px 10px 2px #447777;
}

@media (max-width: 420px) {
    h1 { font-size: 40px; }
    h2 { font-size: 30px; }
    h3 { font-size: 20px; }
    .navButton { font-size: 15px; }
    #aboutMe img { width: 100px; height: 100px;}
    article p { font-size: 15px; }
}